<h1>Editing Budget</h1>

<%= render 'form' %>

<%= link_to 'Show', user_budget_path(@budget.user, @budget), class: "button small round"  %>
<%= link_to 'Back', user_budgets_path, class: "button small round"  %>

