<h1>Editing Vendor</h1>

<%= render 'form' %>

<%= link_to 'Show', category_vendor_path(@vendor.category, @vendor), class: "button small round"  %> |
<%= link_to 'Back', category_vendors_path, class: "button small round"  %>
