<h1>Editing Account</h1>

<%= render 'form' %>

<%= link_to 'Show', user_account_path(@account.user, @account), class: "button small round"  %>
<%= link_to 'Back', user_accounts_path, class: "button small round"  %>
